div{
    box-sizing: border-box;
}



.box{
    border: 1px #000000 solid;
    padding: 20px;
}
.bigBox{
    width: 300px;
    margin: auto;
  background-color: #0000ff;
}
.smallBox{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
   
}
#sb1{
    background-color: #deb887;
}
#sb2{
 background-color: #f5f5dc;
}
.cities{
    border: 1px black solid;
    background-color: #0000ff;
  padding: 30px;
  margin-bottom: 20px;
}
.title{
    text-align: center;
    font-size: 38px;
    font-style: bold;
   color:white;
}
.citieslinks{
    
}
#container{
    display: flex;
  }
  aside{
    flex: 1;
  }
  #container div{
    flex: 2;
  }